body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #1b1a1a;
    line-height: 1.2;
    color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.link-button {
    color: #fff;
    background-color: #b9b90e;
    border-radius: 50px;
    transition: color 0.5s, background-color 0.5s, box-shadow 0.3s;

    &:hover {
        background-color: #fff;
        color: #000;
    }

    &:active {
        box-shadow: 0 0 20px $rioja;
    }
}

.title {
    margin-bottom: 60px;
    font-size: 40px;
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lock {
    overflow: hidden;
}