body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #1b1717;
    line-height: 1.2;
    color: #fff;
}

a {
    transition: color 0.3s;
}

button {
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
    z-index: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.link-button {
    color: #fff;
    background-color: $rioja;
    border-radius: 50px;
    transition: color 0.5s, background-color 0.5s, box-shadow 0.3s;

    &:hover {
        background-color: #fff;
        color: #000;
    }

    &:active {
        box-shadow: 0 0 20px $rioja;
    }
}

.title {
    margin-bottom: 60px;
    display: block;
    font-size: 60px;
    font-weight: 700;
    text-align: center;

    @media(max-width: $medium) {
        font-size: 50px;
    }

    @media(max-width: $small-phone) {
        font-size: 40px;
    }
}

.arrow {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 85px;
    z-index: 9;
    opacity: 0.7;
    transition: opacity 0.5s;

    &:hover {
        opacity: 1;
    }
}

.logo {
    z-index: 4;
    &__img {
        width: 100%;
    }

    @media(max-width: $medium) {
        padding-bottom: 10px;
    }
}

.breadcrumbs {
    padding: 20px 0;

    &__list {
        padding: 15px 10px;
        display: flex;
        border: 1px solid $wood;

        @media(max-width: $medium) {
            justify-content: center;
        }
    }

    &__item {
        margin-right: 20px;
        position: relative;
        &:not(:last-child) {
            &::after {
                content: '';
                position: absolute;
                background-image: url('../images/icons/breadcrumb.svg');
                background-repeat: no-repeat;
                background-size: 14px 14px;
                width: 14px;
                height: 14px;
                top: 3px;
                right: -17px;
            }
        }
    }

    &__link {
        padding: 15px 10px;
        font-family: "Popins", sans-serif;
        color: #fff;
        font-size: 16px;

        &:hover {
            color: $wood;
        }

        &:active {
            color: $rioja;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lock {
    overflow: hidden;
}