html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  word-wrap: break-word;
}

p {
  word-wrap: break-word;
  margin-bottom: 10px;
}

span, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}

address {
  font-style: normal;
}

summary {
  display: block;
}

::-webkit-details-marker {
  display: none;
}

input,
button,
textarea,
select {
  font: inherit;
}