.blog {

    &__inner {
        display: flex;

        @media(max-width: $medium) {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        @media(max-width: $large) {
            justify-content: space-around;
        }

        @media(max-width: $tablet) {
            display: block;
        }
    }

    &__item {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        width: 345px;
        height: fit-content;
        background-color: #000;

        &:nth-child(2n+1) {
            margin-right: 15px;

            @media(max-width: $tablet) {
                margin-right: 0;
            }
        }

        @media(max-width: $tablet) {
            margin-bottom: 50px;
            width: 100%;
        } 
        
        &:nth-child(2n+1) {
            animation-delay: 0.3s;
        }

        &:nth-child(2n) {
            animation-delay: 0;
        }

        &:hover {
            .blog__img {
                transform: scale(1.1);
            }
        }
    }

    &__link {
        display: block;
        height: 230px;
        overflow: hidden;
    }

    &__img {
        margin: 0 auto;
        object-fit: cover;
        max-height: 300px;
        height: 100%;
        width: 100%;
        transition: transform 0.5s;
    }

    &__content {
        padding: 30px 20px;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 18px;
        @extend %limit;
    }

    &__author {
        margin-bottom: 15px;
        display: flex;
        align-items: baseline;
    }

    &__author-name {
        margin-right: 15px;
    }

    &__date {
        display: flex;
        align-items: center;
        fill: #fff;
    }

    &__icon {
        margin-right: 10px;
    }

    &__text {
        p {
            line-height: 1.5;
            @extend %limit;
            -webkit-line-clamp: 3;
        }
    }

    &__more {
        padding: 10px 0;
        position: relative;
        display: block;
        color: $wood;
        fill: $wood;

        &:hover {
            color: $rioja;

            .blog__icon {
                left: 108px;
                fill: $rioja;
            }
        }

        &:active {
            color: $accent;
        }
    }

    &__icon {
        position: absolute;
        left: 88px;
        transition: left 0.3s, fill 0.3s;
    }
}