.header {

    position: fixed;
    left: 0;
    right: 0;
    background-color: #1b1717;
    z-index: 45;

    &__menu {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: padding 0.5s;

        &--active {
            padding: 15px 0;
        }

        @media(max-width: $medium) {
            padding: 15px 0;
            justify-content: flex-start;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }
    
    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__link {
        margin-top: -8px;
        padding: 10px 11.5px;
        display: block;
        width: 40px;
        height: 40px;
        background-color: $accent;
        border-radius: 50%;
        background-color: #3a3a3a;
        transition: background-color 0.3s, box-shadow 0.3s;

        &:hover {
            background-color: $rioja;
        }
    }

    &__userbar {
        display: flex;
        align-items: baseline;
        z-index: 3;

        @media(max-width: $medium) {
            position: absolute;
            right: 70px;
            top: -4px;
        }
    }

    &__userbar-item {
        padding: 22px 0;
        position: relative;

        &:not(:last-child) {
            padding-right: 10px;
        }

        &:hover {
            .header__button {
                background-color: $rioja;
            }

            .header__icon {
                fill: #000;
            }
        }

        &:active {
            .header__button, .header__link {
                box-shadow: 0 0 20px $rioja;
            }
        }

        @media(max-width: $small-phone) {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    &__account {
        position: relative;
        z-index: 1;
    }

    &__button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #3a3a3a;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    &__icon {
        fill: $accent;
        transition: fill 0.3s;
    }

    &__dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translateY(-500%);
        border: 1px solid $accent;
        border-radius: 5px;
        background-color: #3c3737;;
        z-index: 2;
        transition: transform 0.5s;

        &--active {
            transform: translateY(0);
            top: 78px;
        }
    }

    &__burger {
        position: absolute;
        top: 18px;
        right: 20px;
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        z-index: 2;

        span {
            content: '';
            position: absolute;
            top: 50%;
            left: 23%;
            right: 0;
            width: 50%;
            border: 1px solid #fff;

            &::before, &::after {
                content: '';
                position: absolute;
                left: 4%;
                width: 100%;
                border: 1px solid #fff;
                transition: all 0.7s;
            }

            &::before {            
                bottom: 10px;
            }
    
            &::after {
                top: 10px;
            }
        }

        &--active {
            z-index: 3;

            span {
                visibility: hidden;

                &::before, &::after {
                    visibility: visible;
                }
    
                &::before {
                    top: -2px;
                    transform: rotate(-45deg);
                }
    
                &::after {
                    top: -2px;
                    transform: rotate(45deg);
                }
            }       
        }

        @media(max-width: $medium) {
            display: block;
        }
    }
}

.dropdown {

    &__item {
        width: 129px;

        @media(max-width: $small-phone) {
            width: 120px;
        }
    }
    &__link {
        padding: 20px 10px;
        display: block;
        font-size: 18px;
        color: $accent;

        @media(max-width: $medium) {
            padding: 20px 4px;
            font-size: 15px;
            text-align: center;
        }

        &:hover {
            color: $wood;
        }

        &:active {
            color: $rioja;
        }
    }
}

.menu {

    &__list {
        display: flex;
        z-index: 3;

        @media(max-width: $medium) {
            position: absolute;
            padding-top: 29%;
            display: block;
            left: 0;
            top: 0;
            right: 0;
            transform: translateY(-200%);
            height: 100vh;
            width: 100%;
            background-color: rgba(0,0,0, 0.9);
            text-align: center;
            transition: transform 0.5s;

            &--active {
                transform: translateY(0);
            }
        }

        @media(max-width: $small-phone) {
            padding-top: 40%;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 23px;
        }

        &:focus {
            box-shadow: 0 0 28px $rioja;
        }

        @media(max-width: $medium) {
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    &__link {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: rgba($rioja, 0.7);
        }

        &:active {
            color: $rioja;
        }

        @media(max-width: $medium) {
            padding: 20px 0;
            display: block;
            font-size: 28px;
        }

        @media(max-width: $small-phone) {
            font-size: 21px;
        }
    }
}