.popular {

    background-image: url('../../images/popular/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 40px 0 90px;

    &__inner {
        
    }

    &__title {
    }
}

.product {
    background-color: #102027;
    border-radius: 5px;
    height: 400px;
    max-width: 260px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(#102027, 0.9);
        .product__img {
            transform: scale(1.05);
        }
    }

    &__like {
        position: absolute;
        top: 6px;
        right: 6px;
        fill: $rioja;
        transition: transform 0.3s, fill 0.3s;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            fill: #ffff00;
        }
    }

    &__img {
        height: 80%;
        margin: 0 auto;
        transition: transform 0.3s;
    }

    &__box {
        padding: 15px 10px;
        height: 20%;
        font-size: 16px;
        background-color: rgba(#19293a, 0.8);
    }

    &__name {
        margin-bottom: 15px;
        display: block;
        font-size: 18px;
        color: $accent;
        @extend %limit;
    }

    &__reviews {
        color: $accent;
    }

    &__cost {
        padding-right: 20px;
        float: right;
    } 
}
.header {

    &__icon {
    }
}
.star {
    padding: 0;
    margin-right: 8px;
    display: inline-block;
}


.slick-slide {
    margin-right: 25px;

    @media(max-width: $medium) {
        margin-right: 0;
    }
}

.slick-initialized .slick-slide {
    text-align: center;
}

.slick-prev {
    left: -8px;
}

.slick-next {
    right: -8px;
}

.slick-prev, .slick-next {
    padding: 20px 0;
    position: absolute;
    bottom: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
    transform: translateY(23%);
}