.popular {

    padding: 60px 0 90px;
    background-image: url('../images/popular/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .slick-slide {
        margin-right: 25px;
    
        @media(max-width: $medium) {
            margin-right: 0;
        }
    }
    
    .slick-initialized .slick-slide {
        text-align: center;
    }
    
    .slick-prev {
        left: -8px;
    }
    
    .slick-next {
        right: -8px;
    }
    
    .slick-prev, .slick-next {
        padding: 20px 0;
        position: absolute;
        bottom: 50%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 1;
        transition: background-color 0.3s;
        transform: translateY(23%);
    
        &:hover {
            background-color: rgba($rioja, 0.7);
        }
    
        &:active {
            background-color: $rioja;
        }
    }
    
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 50%;
        bottom: -10%;
        transform: translateX(50%);
    }
    
    .slick-dots button {
        margin-right: 9px;
        font-size: 0;
        border-radius: 0;
        width: 30px;
        height: 1px;
        background-color: $accent;
        opacity: 0.3;
        transition: opacity 0.5s;
        cursor: pointer;
    
        &:hover {
            opacity: 1;
        }
    }
    
    .slick-active button{
        opacity: 1;
    }
}

.star {
    padding: 0;
    margin-right: 4px;
    display: inline-block;
    z-index: 1;
}