.subscr {

    padding: 80px 0;
    background-image: url('../images/subscr/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width: $medium) {
        padding: 65px 0;
    }

    &__title {
        margin-bottom: 0;
        font-size: 38px;
        font-weight: 500;

        @media(max-width: $tablet) {
            margin-bottom: 40px;
        }

        @media(max-width: $small-phone) {
            font-size: 34px;
        }
    }

    &__box {
        display: flex;
        max-width: 648px;
        width: 100%;
        justify-content: space-between;

        @media(max-width: $medium) {
            max-width: 480px;
        }

        @media(max-width: $small-phone) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__label {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;

        @media(max-width: $tablet) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__input {
        padding: 10px 40px 10px 20px;
        height: 70px;
        width: 75%;
        border-radius: 15px;
        border: none;
        outline: transparent;
        transition: background-color 0.3s;

        &::placeholder {
            font-weight: 500;
            transition: color 0.3s;
        }

        &:hover {
            &::placeholder {
                color: $wood;
            }
        }

        &:focus {
            outline: transparent;
            background-color: #e6c39c;

            &::placeholder {
                color: #000;
            }
        }

        @media(max-width: $medium) {
            height: 60px;
            width: 68%;
            font-size: 22px;
        }

        @media(max-width: $small-phone) {
            padding: 10px 20px 10px 20px;
            margin-bottom: 30px;
            max-width: 450px;
            width: 100%;
            height: 50px;
            text-align: center;
            font-size: 18px;
        }
    }

    &__button {
        padding: 16px 11px;
        position: relative;
        width: 22%;
        height: 70px;
        border: none;
        border-radius: 15px;
        background-color: #fff;
        color: #7d7575;
        @extend %button-hover;

        &::before {
            border-radius: 15px;
        }

        &:hover {
            color: #fff;
            
            &::before {
                top: 0;
            }
        }

        &:active {
            color: #000;
        }

        @media(max-width: $medium) {
            padding: 16px 8px;
            height: 60px;
            width: 30%;
        }

        @media(max-width: $small-phone) {
            padding: 13px 8px;
            max-width: 157px;
            width: 100%;
            height: 50px;
            font-size: 18px;
        }
    }
}